@(tournament: Tournament, battles: List[Battle])

@import helper._

@main("Started tournament") {
	<h1>Tournament @tournament.desc ready</h1>
	<p>
		<ul>
		@battles.map { battle =>
            <li>
                @PlayerDB.getById(battle.white) vs @PlayerDB.getById(battle.black)
                @form(routes.ChessApplication.saveResult(battle.id.toString())) {
                    <input type="radio" name="winner" value="white"
                        @if(battle.result == 1) {
                        checked = "checked"
                        }
                    >White</input>
                    <input type="radio" name="winner" value="draw"
                        @if(battle.result == 0) {
                        checked = "checked"
                        }
                    >Draw</input>
                    <input type="radio" name="winner" value="black"
                        @if(battle.result == 2) {
                        checked = "checked"
                        }
                    >Black</input>
                    <input type="text" id="whitebeers" name="whitebeers" value="0"/>
                    <label for="whitebeers">#Beers White</label>
                    <input type="text" id="blackbeers" name="blackbeers" value="0"/>
                    <label for="blackbeers">#Beers Black</label>
                    <input type="submit" value="Save"/>
                }
            </li>
        }
		</ul>

	</p>

    <p>
        @form(routes.ChessApplication.standings(tournament.id)) {
            <input type="submit" value="Standings"/>
        }
    </p>

    @if(Tournament.isCompleted(tournament)){
        <p>
        @form(routes.ChessApplication.addReverseMatches(tournament.id)) {
            <input type="submit" value="Create Rematches" />
        }
        </p>
    }

}